html {
   font-family: "Nunito", sans-serif; 
}

body {
    margin: 5%;
    background-color:#eee2d7;
}

section { 
    margin: auto;
    margin-bottom: 50px;
}

.title {
    font-family: "Cookie", cursive;
    font-size: 75px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    color:#4d2508
}

.subtitle {
    font-family: "Nunito", sans-serif; 
    font-size: 18px;
    text-align: center;
    margin: auto;
}

h1 {
    font-family: "Cookie", cursive;
    font-size: 48px;
    margin: auto;
    color:#4d2508;
}

p {
    font-family: "Nunito", sans-serif; 
    font-size: 18px;
}

li {
    font-family: "Nunito", sans-serif; 
    font-size: 18px;
}

.image {
    width: 24%;
    padding: 5px;
    margin-top: 25px;
    margin-bottom: 30px;
}

a{
    color:black
}